.update {
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: rgba(125,4,125,1.00);
}

.custom-bt {
    border-radius: 15px;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

.btn-1 {
    border: none;
    z-index: 1;
    padding: 10px;
}

    .btn-1:hover {
        color: #fff;
        background: rgba(224,8,236,1.00);
    }
